<ion-header>
  <ion-navbar>
    <ion-title *ngIf = "associado">{{associado.nome}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf = "associado">
      <span class="negrito"> Bairro: </span>{{associado.bairro}} <br>
      <span class="negrito"> CEP: </span>{{associado.cep}} <br>
      <span class="negrito"> Cidade: </span>{{associado.cidade}}<br>
      <span class="negrito"> Endereço: </span>{{associado.numEndereco}}<br>
      <span class="negrito"> Rua: </span>{{associado.rua}}<br>
      <span class="negrito"> Data de Nascimento: </span>{{associado.dataNasc}}<br>
      <span class="negrito"> Facebook: </span>{{associado.Facebook}}<br>
      <span class="negrito"> Twitter: </span>{{associado.twitter}}<br>
      <span class="negrito"> Instagram: </span>{{associado.instagram}}<br>
      <span class="negrito"> Linkedin: </span>{{associado.linkedin}}<br>
      <span class="negrito"> Sexo: </span>{{associado.sexo}}<br>
      <span class="negrito"> Telefone: </span> {{associado.telefone}}<br>
  </div>
</ion-content>