<ion-header>
  <ion-navbar>
    <ion-title>Lista de Eventos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-searchbar placeholder="Buscar..."  (ionInput)="filtrarItens($event)" showCancelButton clearInput></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let evento of eventos"  >
      <div id="divDados" (click)="mostrarDados(evento.key)">
        <ion-icon name="paper" color="primary"></ion-icon><span class="negrito"> Nome do Evento: </span>{{evento.nome}}<br>
        <ion-icon name="globe" color="primary"></ion-icon><span class="negrito"> Local: </span>{{evento.local}}<br>
        <ion-icon name="calendar" color="primary"></ion-icon><span class="negrito"> Data: </span>{{evento.data | amDateFormat:'L'}}<br>
      </div>
      <div *ngIf="admin">
        <button ion-button color="danger" (click)="excluir(evento.key)">Excluir</button>
        <button ion-button color="primary" (click)="editar(evento.key)">Editar</button>
      </div>
    </ion-item>  
  </ion-list>
</ion-content>

<div *ngIf="admin">
  <ion-fab bottom right>
    <button ion-fab color="primary" (click)="novoEvento()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</div>

