<ion-header>
  <ion-navbar>
    <ion-title>Acesso Administração ACIC</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label color="primary" floating>E-mail</ion-label>
    <ion-input type="email" [(ngModel)]="credentials.email" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="primary" floating>Senha</ion-label>
    <ion-input type="{{type}}" [(ngModel)]="credentials.password" required></ion-input>
    <button *ngIf="!showPass" ion-button clear color="dark" type="button" id="botao" item-end (click)='togglePassword()'>
      <ion-icon class="mostraSenha" name="eye"></ion-icon>
    </button>
    <button *ngIf="showPass" ion-button clear color="dark" type="button" id="botao" item-end (click)='togglePassword()'>
      <ion-icon class="mostraSenha" name="eye-off"></ion-icon>
    </button>
  </ion-item>
  <br>
  <div>
    <button id="botaoLogin" ion-button block round outline (click)="signIn()">Login</button>
  </div>
  <div id="resetPassword">
    <button ion-button block round outline (click)="resetPassword()">Redefinir minha senha</button>
  </div>
</ion-content>