<ion-header>
  <ion-navbar>
    <ion-title>Lista de Benefícios</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-searchbar placeholder="Buscar..."  (ionInput)="filtrarItens($event)" showCancelButton clearInput></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let beneficio of beneficios"  >
    
    <div id="divDados" (click)="mostrarDados(beneficio.key)"> 
          <ion-icon name="card" color="primary"></ion-icon><span class="negrito"> Benefício: </span> {{beneficio.nome}}<br>
          <ion-icon name="cash" color="primary"></ion-icon><span class="negrito"> Valor Associado: </span> {{beneficio.valorAssociado}}<br>
          <ion-icon name="cash" color="primary"></ion-icon><span class="negrito"> Valor não Associado: </span> {{beneficio.valorNaoAssociado}}
      </div>
      <div *ngIf="admin">
        <button ion-button color="primary" (click)="excluir(beneficio.key)">Excluir</button>
        <button ion-button color="primary" (click)="editar(beneficio.key)">Editar</button>
      </div>
    </ion-item>  
  </ion-list>
</ion-content>

<div *ngIf="admin">
  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="novoBeneficio()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</div>
 