<ion-header>
  <ion-navbar>
    <ion-title>Lista de Vagas de Emprego</ion-title>
  </ion-navbar>
</ion-header>

<ion-content id="contentMenu" padding>
  <ion-searchbar placeholder="Pesquisar..."  (ionInput)="filtrarItens($event)" showCancelButton clearInput></ion-searchbar>
  <ion-list>
    <ion-card *ngFor="let vaga of vagas"> 
      <ion-item>
        <div id="divDados" (click)="mostrarDados(vaga.key)">
          <ion-icon name="megaphone" color="primary"></ion-icon><span class="negrito"> Nome da Vaga: </span>{{vaga.nome}}<br>
          <ion-icon name="hammer" color="primary"></ion-icon><span class="negrito"> Profissão: </span>{{vaga.profissao}}<br>
        </div>
      </ion-item>
      <div *ngIf="admin">
        <ion-icon name="trash" color="danger" (click)="excluir(vaga.key)" class="space"></ion-icon>
        <ion-icon name="create" color="secondary" (click)="editar(vaga.key)" class="space"></ion-icon>
      </div>
    </ion-card> 
  </ion-list>
</ion-content>

<div *ngIf="admin">
  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="novaVaga()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</div>