<ion-header>
  <ion-navbar>
    <ion-title>Lista de Vagas de Emprego</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-searchbar placeholder="Buscar..."  (ionInput)="filtrarItens($event)" showCancelButton clearInput></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let vaga of vagas">
      <div id="divDados"(click)="mostrarDados(vaga.key)">
        <!--<div>
          ion-avatar item-start>
            <img src={{vaga.imagem}}>
          </ion-avatar>
        </div>-->
        <ion-icon name="megaphone" color="primary"></ion-icon><span class="negrito"> Nome da Vaga: </span>{{vaga.nome}}<br>
        <ion-icon name="hammer" color="primary"></ion-icon><span class="negrito"> Profissão: </span>{{vaga.profissao}}<br>
      </div>
      <div *ngIf="admin">
        <button ion-button color="primary" (click)="excluir(vaga.key)">Excluir</button>
        <button ion-button color="primary" (click)="editar(vaga.key)">Editar</button>
      </div>
    </ion-item>
  </ion-list>
</ion-content>

<div *ngIf="admin">
  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="novaVaga()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</div>
