<ion-header>
  <ion-navbar>
    <ion-title>Lista de Serviços</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-searchbar placeholder="Buscar..."  (ionInput)="filtrarItens($event)" showCancelButton clearInput></ion-searchbar>
  <ion-list>
      <ion-item *ngFor="let servico of servicos">
        <div (click)="mostraDados(servico.key)"> 
          <h2>Nome do Serviço: {{servico.nome}}</h2>
          <h3>Descrição: {{servico.descricao}}</h3>
          <h4>Link: {{servico.link}}</h4>
        </div>
        <div *ngIf="admin">
          <button ion-button color="primary" (click)="excluir(servico.key)">Excluir</button>
          <button ion-button color="primary" (click)="editar(servico.key)">Editar</button>
        </div>
      </ion-item>  
  </ion-list>
</ion-content>

<div *ngIf="admin">
  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="novoServico()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</div>