page-lista-servico {
    ion-fab {
        padding-bottom: 55px;
    }

    #divDados{
        font-size: 14px;
        white-space: normal; 
    }

    .negrito{
        font-weight: bold;
    }

    .item{
        min-height: 50px;
    }

    .space{
        padding-bottom: 15px;
        padding-left: 15px;
    }
}