page-reset-password {
    #botaoRedefinirSenha{
        text-transform: capitalize;
        padding-left: 5%;
        padding-right: 5%;
        text-indent: -50%;
        margin-top: 2%;
        font: message-box;
        width: 60%;
        height: 12%;
        margin-left: 18%;
        margin-right: 20%;
    }
}
