page-sobre {
    .SwipedTabs-indicatorSegment
    {
        -webkit-transition: 0.3s all;
        -moz-transition:  0.3s all;
        -o-transition:  0.3s all;
        transition:  0.3s all;
        transform-origin: top 0 left 0;
        height: 1px;
	    position: relative;
	    top: -2px;
    background-color: black !important;
    }
    .SwipedTabs-tabs ion-segment-button
    {
    	border:none !important;
    	color:gray!important;
    	background-color:white!important;
    }
     .SwipedTabs-tabs ion-segment-button.SwipedTabs-activeTab
    {
        color:black !important;
    }
    .SwipedTabs-tabs
    {
        border-bottom: solid 1px #e6e6e6  !important;
    }

    #texto{
        text-align: justify;
        font-size: 16px;
        text-indent: 40px;
    }

    img{
        width: 180px;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #botoes{
        padding-top: 10px;
    }
}
