  <ion-header>
    <ion-navbar>
      <ion-title>Sobre</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
    <ion-segment  class="SwipedTabs-tabs">
      <ion-segment-button *ngFor='let tab of tabs ; let i = index ' value="IngoreMe" (click)="selectTab(i)"
        [ngClass]='{ "SwipedTabs-activeTab" : ( this.SwipedTabsSlider  && ( this.SwipedTabsSlider.getActiveIndex() === i || (  tabs.length -1 === i&& this.SwipedTabsSlider.isEnd()))) }' >
          {{tab}}
      </ion-segment-button>
    </ion-segment>

      <div id="texto" id='indicator' class="SwipedTabs-indicatorSegment" [ngStyle]="{'width.%': (100/this.tabs.length)}"></div>
    
    <ion-slides #SwipedTabsSlider  (ionSlideDrag)="animateIndicator($event)"
      (ionSlideWillChange)="updateIndicatorPosition()"
      (ionSlideDidChange)="updateIndicatorPosition()"
      (pan)="updateIndicatorPosition()"
      [pager]="false">

      <ion-slide>
        <h1>
          <div *ngFor="let sobre of sobres"  >
            <div *ngIf="!editando">
              {{sobre.historia}}
            </div>
          </div>  
        </h1>
      </ion-slide>

      <ion-slide>
        <h1>
          <div *ngFor="let sobre of sobres"  >
            <div *ngIf="!editando">
              {{sobre.visao}}
            </div>
          </div>  
        </h1>
      </ion-slide>

      <ion-slide>
          <h1>
            <div *ngFor="let sobre of sobres"  >
              <div *ngIf="!editando">
                {{sobre.missao}}
              </div>
            </div>  
          </h1>
        </ion-slide>

        <ion-slide>
          <h1>
            <div *ngFor="let sobre of sobres"  >
              <div *ngIf="!editando">
                {{sobre.diretoria}}
              </div>
            </div>  
          </h1>
         </ion-slide>
         
    </ion-slides>
  </ion-content> 
