<ion-header>
  <ion-navbar>
    <ion-title>Lista de Associados</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-searchbar placeholder="Pesquisar..."  (ionInput)="filtrarItens($event)" showCancelButton clearInput></ion-searchbar>
  <ion-segment (ionChange)="mudarFiltro($event.value)">
    <ion-segment-button value="pessoaJuridica">
      <ion-label>Pessoa Jurídica</ion-label>
    </ion-segment-button>
    <ion-segment-button value="pessoaFisica">
      <ion-label>Pessoa Física</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-list>
    <ion-card *ngFor="let associado of associados"> 
      <ion-item>
        <div id="divDados"(click)="mostrarDados(associado.key,associado.tipo)">
          <div *ngIf="tipo == 'pessoaJuridica'">
            <ion-icon name="home" color="primary"></ion-icon><span class="negrito"> Empresa: </span>{{associado.nomeFantasia}}<br>
            <div *ngIf = "associado.site">
              <ion-icon name="globe" color="primary"></ion-icon><span class="negrito"> Site: </span>{{associado.site}}
            </div>
            <div *ngIf = "!associado.site">
              <ion-icon name="call" color="primary"></ion-icon><span class="negrito"> Telefone: </span>{{associado.telefone}}
            </div>
          </div>
          <div *ngIf="tipo == 'pessoaFisica'"> 
            <ion-icon name="person" color="primary"></ion-icon><span class="negrito"> Nome: </span>{{associado.nome}}<br>
            <div *ngIf = "associado.facebook">
              <ion-icon name="logo-facebook" color="primary"></ion-icon><span class="negrito"> Facebook: </span>{{associado.facebook}}
            </div>
            <div *ngIf = "!associado.facebook">
              <ion-icon name="call" color="primary"></ion-icon><span class="negrito"> Telefone: </span>{{associado.telefone}}
            </div>
          </div>
        </div>  
      </ion-item>
      <div *ngIf="admin">
        <ion-icon name="trash" color="danger" (click)="excluir(associado.key)" class="space"></ion-icon>
        <ion-icon name="create" color="secondary" (click)="editar(associado.key,associado.tipo)" class="space"></ion-icon>
      </div>
    </ion-card> 
  </ion-list>
</ion-content>

<div *ngIf="admin">
  <ion-fab right bottom>
      <button ion-fab color="primary" (click)="novoAssociado()">
        <ion-icon name="add"></ion-icon>
      </button>
  </ion-fab>
</div>