
<ion-header>
  <ion-navbar>
    <ion-title>Lista de Associados</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-segment (ionChange)="mudarFiltro($event.value)">
        <ion-segment-button value="pessoaJuridica">
          <ion-label>Pessoa Jurídica</ion-label>
        </ion-segment-button>
        <ion-segment-button value="pessoaFisica">
          <ion-label>Pessoa Física</ion-label>
        </ion-segment-button>
      </ion-segment>
    <ion-searchbar></ion-searchbar>
    <ion-list>
      <ion-item *ngFor="let associado of associados">
        <div (click)="mostrarDados(associado.key,associado.tipo)">

          <h2>{{associado.nome}}{{associado.nomeFantasia}}</h2>
        </div> 
        <div *ngIf="admin">
          <button ion-button color="primary" (click)="excluir(associado.key)">Excluir</button>
          <button ion-button color="primary" (click)="editar(associado.key,associado.tipo)">Editar</button>
        </div> 
      </ion-item>  
    </ion-list>
</ion-content>

<div *ngIf="admin">
  <ion-fab right bottom>
      <button ion-fab color="primary" (click)="novoAssociado()">
        <ion-icon name="add"></ion-icon>
      </button>
  </ion-fab>
</div>