<ion-header>
  <ion-navbar>
    <ion-title *ngIf = "evento">{{evento.nome}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf = "evento">
    <h5>Local: {{evento.local}}</h5>
    <h6>
      Data: {{evento.data | amDateFormat:'L'}}
      Hora: {{evento.hora}}<br>
      <br>
      Descrição: {{evento.descricao}}<br>
      <br>
      Valor associado: R$ {{evento.valorAssociado}}<br>
      <br>
      Valor não associado: R$ {{evento.valorNaoAssociado}}<br>
    </h6>
    <button type="submit" ion-button float-right shape="round" color="primary" expand="block" (click)="redirecionar(evento.link)">Inscrever-se</button>
  </div>
</ion-content>
<!-- <ion-icon name="time"></ion-icon> -->