<ion-header>
  <ion-navbar>
      <ion-title *ngIf = "vaga">{{vaga.nome}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf = "vaga">
    
    <div class="linha"><ion-icon name="megaphone" color="primary"></ion-icon><span class="subtitulo"> Nome da Vaga</span></div>
    <div class="dados">{{vaga.nome}}</div>

    <div class="linha"><ion-icon name="hammer" color="primary"></ion-icon><span class="subtitulo"> Profissão</span></div>
    <div class="dados">{{vaga.profissao}}</div>
   
    <div class="subtituloMeio"> Descrição</div>
    <div id="descricao">{{vaga.descricao}}</div>

    <button type="submit" ion-button float-right shape="round" color="primary" expand="block">Candidatar-se</button>
  </div>
</ion-content>
