<ion-header>
  <ion-navbar>
      <ion-title *ngIf = "vaga">{{vaga.nome}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf = "vaga">
    <ion-avatar item-start>
      <img src={{vaga.imagem}}>
    </ion-avatar>
    <div>
      Nome do Vaga: {{vaga.nome}}<br>
      Profissão: {{vaga.profissao}}<br>
      Descrição: {{vaga.descricao}}
    </div>
    <button type="submit" ion-button float-right shape="round" color="primary" expand="block">Candidatar-se</button>
  </div>
</ion-content>
