
<ion-header>
  <ion-navbar>
    <ion-title *ngIf = "beneficio">{{beneficio.nome}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf = "beneficio"> 

    <div class="linha"><ion-icon name="card" color="primary"></ion-icon><span class="subtitulo"> Nome</span></div>
    <div class="dados">{{beneficio.nome}}</div>

    <div>
      <div class="esquerda">
        <div class="linha"><ion-icon name="cash" color="primary"></ion-icon><span class="subtitulo"> Valor associado</span></div>
        <div class="dados">R$ {{beneficio.valorAssociado}}</div>
      </div>
      <div class="direita">
        <div class="linha"><ion-icon name="cash" color="primary"></ion-icon><span class="subtitulo"> Valor não associado</span></div>
        <div class="dados">R$ {{beneficio.valorNaoAssociado}}</div>
      </div>
    </div>
    
    <div class="subtituloMeio"> Descrição</div>
    <div id="descricao">{{beneficio.descricao}}</div>
    
  </div>
</ion-content>
