<ion-header>
  <ion-navbar>
    <ion-title *ngIf = "associado">{{associado.razaoSocial}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf = "associado">
    Razão Social: {{associado.razaoSocial}}<br>
    Bairro: {{associado.bairro}} <br>
    Cep: {{associado.cep}} <br>
    cidade: {{associado.cidade}}<br>
    Endereco: {{associado.numEndereco}}<br>
    Rua:  {{associado.rua}}<br>
    CNPJ: {{associado.cnpj}}<br>
    Site: {{associado.site}}<br>
    Telefone: {{associado.telefone}}
  </div>
</ion-content>                                  
