<ion-content id="contentMenu" padding>
  <div id="logo">
    <img src="../../assets/imgs/logoAcic.png"/>
  </div>

  <div *ngIf="!admin" class="login">
    <ion-icon name="lock" color="primary" (click)="direciona('L')"></ion-icon>
  </div>
  <div *ngIf="admin" class="login">
    <ion-icon name="unlock" color="primary" (click)="fazerLogout()"></ion-icon>
  </div>

  <ion-list id="listMenu">
    <ion-item class="menuItem" text-center (click)="direciona('A')">Associados</ion-item>
    <ion-item class="menuItem" text-center (click)="direciona('S')">Serviços</ion-item>
    <ion-item class="menuItem" text-center (click)="direciona('E')">Eventos</ion-item>
    <ion-item class="menuItem" text-center (click)="direciona('B')">Benefícios</ion-item>
    <ion-item class="menuItem" text-center (click)="direciona('V')">Vagas de Emprego</ion-item>
    <ion-item class="menuItem" text-center (click)="direciona('PS')">Pesquisa de Satisfação</ion-item>
    <ion-item class="menuItem" text-center (click)="direciona('SO')">Sobre</ion-item>
  </ion-list>
</ion-content>