page-menu {
    
    img{
        width: 200px;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .menuItem{
        font-size: 18px;
        color: #00AD57;
    }

}
