<ion-header>
  <ion-navbar>
  <ion-title id="titleMenu">Menu</ion-title>
  <button id="botaoAdmin" ion-button (click)="IrParaLogin()"> <ion-icon name="lock"> Admin </ion-icon> </button>
  <button id="botaoLogout" *ngIf="afAuth.auth.currentUser" ion-button (click)="fazerLogout()"> <ion-icon name="unlock"> Logout </ion-icon> </button>
  <h4 id="nomeUsuarioLogado" *ngIf="afAuth.auth.currentUser">
    Bem-vindo, {{afAuth.auth.currentUser.displayName}}!
  </h4>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <img src="http://portalacic.com.br/img/fotos/acic-emite-nota-sobre-a-votacao-das-10-medidas-contra-a-corrupcao/acic-emite-nota-sobre-a-votacao-das-10-medidas-contra-a-corrupcao_380-image().png"/>
  <ion-list>  
    <ion-item text-center (click)="direciona('A')">Associados</ion-item>
    <ion-item text-center (click)="direciona('S')">Serviços</ion-item>
    <ion-item text-center (click)="direciona('E')">Eventos</ion-item>
    <ion-item text-center (click)="direciona('B')">Benefícios</ion-item>
    <ion-item text-center (click)="direciona('V')">Vagas de Emprego</ion-item>
    <ion-item text-center (click)="direciona('SO')">Sobre</ion-item>
  </ion-list>
</ion-content>

<!--logoAcic.png -->

<!-- http://portalacic.com.br/img/fotos/acic-emite-nota-sobre-a-votacao-das-10-medidas-contra-a-corrupcao/acic-emite-nota-sobre-a-votacao-das-10-medidas-contra-a-corrupcao_380-image().png -->