page-menu {
    img{
        width: 220px;
        height: auto;
    }
    
    .menuItem{
        font-size: 18px;
        color: #00AD57;
    }
    
    .color{
        color: rgb(0, 0, 197);
    }

    .center{
        text-align: center;
    }

    #titleMenu{
        text-align: center;
    }

    #logo {
        width: 85%;
        text-align: center;
        display: inline-block;
        padding-top: 5px;
        padding-bottom: 10px;
        padding-left: 20%;
        min-width:40vw;
    }

    .login {
        width: 15%;
        text-align: right;
        font-size: 30px;
        display: inline-block;
        margin-right: 0vw;
        padding-right: 5px;
        float:right;
    }
    // #nomeUsuarioLogado{
    //     background-color: aquamarine;
    // }

}