page-menu {
    #navbarMenu {
        opacity: 1.2;
    }
    #contentMenu {
        background-color: green;
        opacity: 0.8;
        
    }
    #titleMenu{
        text-align: center;
    }

    #listMenu {
        background-color: green;
    }

    img{
        width: 120px;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
